<footer class="border-t border-boder-color px-[18px] pt-[18px] pb-9 lg:pt-10 lg:pr-3.5 lg:pb-6 lg:pl-12">
    <div class="flex flex-col lg:flex-row items-center justify-between mb-9 lg:mb-10">
        <div class="social flex mb-3 lg:order-2">
            <a href="#" class="mr-2">
                <img src="../../../assets/facebook.png" alt="facebook" class="w-8 h-8">
            </a>
            <a href="#" class="mr-2">
                <img src="../../../assets/twitter.png" alt="twitter" class="w-8 h-8">
            </a>
            <a href="#">
                <img src="../../../assets/gym_social.png" alt="gym_social" class="w-8 h-8">
            </a>
        </div>
        <ul class="flex mt-1 lg:order-1 gap-1">
            <li class="lg:mr-7">
                <a href="#" class="footer-link">Terms of Services</a>
            </li>
            <li class="lg:mr-7">
                <a href="#" class="footer-link">Privacy Policy</a>
            </li>
            <li class="lg:mr-7">
                <a href="#" class="footer-link">Cookie Policy</a>
            </li>
            <li class="hidden lg:block mr-7">
                <a href="#" class="footer-link">Business & Partnership Inquiries</a>
            </li>
        </ul>

    </div>
    <div class="flex justify-between items-end">
        <div class="legal flex flex-col lg:flex-row items-center">
            <img src="../../../assets/logo.png" alt="logo" class="w-7 mb-6 lg:mb-0">
            <p class="text-sm lg:text-base text-black ml-2">
                © 2021 Gym Solutions, LLC. All rights reserved.
            </p>
        </div>
        <div class="hidden lg:flex mt-8 lg:mt-0">
            <a href="#" class="mr-3">
                <img src="../../../assets/appstore.png" alt="appstore" class="rounded-[5px] h-11 w-36">
            </a>
            <a href="#" class="">
                <img src="../../../assets/googleplay.png" alt="googleplay" class="rounded-[5px] h-11 w-36">
            </a>
        </div>
    </div>
</footer>