<nav class="nav bg-white">
    <div class="hidden lg:flex justify-between items-center py-10 pl-40 pr-4 shadow-lg">
        <div class="flex items-center">
            <img src="./../../../assets/logo.png" alt="logo" class="w-8">
            <p class="text-sm font-bold ml-1.5">Gym.com</p>
        </div>
        <div class="flex items-center space-x-10">
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">Places</a>
            <a href="#" class="nav-link ">Equipment</a>
            <a href="#" class="nav-link">Collections</a>
            <a href="#" class="nav-link">Blog</a>
        </div>
        <div class="button-group">
            <a href="#" class="btn bg-btn-blue py-3 px-6 text-white mr-3 border-btn-blue">
                Login
            </a>
            <a href="#" class="btn py-3 px-1.5  text-black  border-boder-color">
                Have a VIP code?
            </a>
        </div>
    </div>

</nav>