<div class="pt-16 md:pt-24 lg:pt-40 px-5 md:px-10 lg:px-28">
    <h1 class="text-3xl font-extrabold text-black mb-2.5 md:mb-7.5">{{blog?.blogTitle}}</h1>
    <div class="flex items-center mb-5 lg:mb-9">
        <div class="w-10 h-10">
            <img src="{{blog?.blogAuthor[0].fields.authorImage.src}}" alt="author image"
                class="object-cover h-full rounded-full">
        </div>
        <p class="text-gray-700 text-lg pl-2.5 font-semibold">{{blog?.blogAuthor[0].fields.authorName}}</p>
    </div>
    <div class="w-full h-96 md:h-[510px]">
        <img src="{{blog?.blogBannerImage.src}}" alt="bannger image" class="w-full object-cover h-full rounded-15px">
    </div>

    <div class="" *ngFor="let item of blog?.blogContent.content">
        <div [ngClass]="{'text-2xl font-bold  mt-7.5 mb-6': isHeading(item?.nodeType), 'text-lg text-justify':isPara(item?.nodeType)}"
            class="" *ngIf="item?.content?.length">
            {{item?.content[0].value}}
        </div>
        <div *ngIf="item?.data?.target?.fields?.file?.url" class="my-5 w-full h-screen">
            <img src="{{item?.data?.target?.fields?.file.url}}" alt="text" class="object-fill w-full h-full">
        </div>
        <!-- <img *ngIf="item?.data?.target?.fields?.file?.url" src="{{item?.data?.target?.fields?.file.url}}" alt="text"
            class="my-5 w-full"> -->
    </div>

</div>
<div class="flex justify-between items-center px-10 lg:px-20 my-10">
    <button class="font-medium flex items-center" (click)="onPrevBlog()">
        <img src="../../../../assets/Arrow-Down.png" alt="arrow" class="h-6">
        Previous
    </button>
    <button class="font-medium flex items-center" (click)="onNextBlog()">
        Next
        <img src="../../../../assets/ArrowR.png" alt="arrow" class="h-6">
    </button>
</div>