<header class="flex flex-col xl:flex-row  pt-[78px] pb-[46px] xl:px-40 xl:pt-32 xl:pb-14 border-b border-boder-color">
    <div class="lg:basis-2/5 lg:order-2 flex-col px-14 lg:px-0">
        <img src="../../../assets/home-header.png" alt="" class="w-full max-h-[600px]">
        <div class="hidden xl:block text-group ml-auto">
            <a href="#" class="font-semibold text-xl block">Learn More</a>
            <p class="text-sm">Find out about gym.com’s mission</p>
        </div>
    </div>
    <div class="basis-3/5 lg:order-1">
        <h1 class="text-2xl xl:text-[65px] leading-tight font-bold pl-[73px] lg:pl-0">
            Your health and
            <br class="hidden lg:block">
            fitness
            <br class="lg:hidden">
            goals in one
            <br class="hidden lg:block">
            place
        </h1>
        <p class="px-7.5 lg:px-0 text-sm lg:text-base text-justify">
            Share and track workout highlights, exercises, collections, personal
            <br class="hidden lg:block">
            exercise milestones & everything else
            fitness related - all in one place.
        </p>
        <div class="flex pl-7.5">
            <button class="font-semibold text-lg xl:text-2xl text-[#475679] mr-8 xl:ml-16 xl:mr-5">Get started
                now</button>
            <button class="bg-btn-blue text-sm font-semibold rounded-[10px] text-white pl-6 pr-4 lg:px-8  py-6">
                Reserve Username
            </button>
        </div>
    </div>
</header>
<section class="pt-32 xl:pr-33">
    <div class="flex flex-col lg:flex-row lg:justify-between items-center pl-7.5  xl:pl-[188px] pr-6">
        <h1 class="text-2xl xl:text-5xl leading-tight font-bold text-black tracking-tighter">
            Create and Track
            <br class="hidden lg:block">
            Your Workout
        </h1>
        <p class="text-light-black text-justify">
            Create your routines and turn them into workouts to share with the
            <br class="hidden lg:block">
            community. Choose the exercise that you want, the execution time,
            <br class="hidden lg:block">
            and the length of the exercise that fits.
        </p>
    </div>

    <div class="flex pl-12 mb-52 flex-col lg:flex-row">
        <div class="basis-8/12 h-auto lg:max-h-[90%]">
            <img src="../../../assets/mac.png" alt="macbook" class="w-full max-h-full hidden lg:block">
            <img src="../../../assets/FlatiPhone.png" alt="iphone" class="">
        </div>
        <div class="basis-4/12 flex flex-col pt-[83px]">
            <div class="flex justify-between pb-8 border-b-2 border-boder-color">
                <h3 class="font-medium text-2xl">
                    Create routines for your daily workouts
                </h3>
                <img src="../../../assets/Arrow-Right.png" alt="arrow-right" class="h-8 w-8">
            </div>
            <div class="flex justify-between pb-8 pt-8 border-b-2 border-border-color">
                <h3 class="font-medium text-2xl">
                    Choose from hundreds of community driven workouts
                </h3>
                <img src="../../../assets/Arrow-Right.png" alt="arrow-right" class="h-8 w-8">
            </div>
            <div class="flex justify-between pt-8">
                <h3 class="font-medium text-2xl">
                    Share your workout with your peers, and show those PR’s!
                </h3>
                <img src="../../../assets/Arrow-Right.png" alt="arrow-right" class="h-8 w-8">
            </div>
        </div>
    </div>
</section>
<section class="workout-steps xl:pl-[215px] xl:pr-[107px] pb-32 xl:pb-[140px]">
    <div class="flex flex-col lg:flex-row">
        <div class="basis-3/5 relative lg:order-2">
            <div class="max-w-[75%] ml-auto">
                <h1 class="text-5xl font-bold mb-8">
                    A New Workout <br>
                    Experience for Everyone
                </h1>
                <p class="text-gray-700 mb-10">
                    Make your own workout plan and share it with other users and track <br>
                    your fitness progress over time.
                </p>
                <img src="../../../assets/woman-rope.png" alt="woman-training" class="relative w-full z-10">
            </div>
            <img src="../../../assets/woman-rope-bg.png" alt="woman-traing-bg"
                class="absolute bottom-0 w-full max-h-[65%] z-0">
        </div>
        <div class="basis-2/5 lg:order-1 relative">
            <img src="../../../assets/Vector13.png" alt="arrow-curve" class="absolute -left-48 -top-14 hidden lg:block">
            <div class="flex flex-col mb-14 mt-40">
                <p class="workout-steps-label bg-green-500">01</p>
                <h2 class="workout-steps-heading">
                    Easy to control your workout <br> activity
                </h2>
                <p class="workout-steps-para">
                    Keep on top of your fitness progress by <br>
                    tracking your workout activities and over time <br>
                    automate your health and fitness goals.

                </p>
            </div>
            <div class="flex flex-col mb-14">
                <p class="workout-steps-label bg-blue-400">02</p>
                <h2 class="workout-steps-heading">
                    Build your connections with <br>
                    other people
                </h2>
                <p class="workout-steps-para">
                    You can share your workout activities or <br>
                    programs that you made with other users.
                </p>
            </div>
            <div class="flex flex-col">
                <p class="workout-steps-label bg-orange-500">03</p>
                <h2 class="workout-steps-heading">
                    Share collections of your <br>
                    favorite gym gear
                </h2>
                <p class="workout-steps-para">
                    Create collections of your favorite fitness <br>
                    gear to share with the community and your <br>
                    friends.
                </p>
            </div>
        </div>


    </div>
</section>