<div [ngClass]="{'hidden': isWelcomeVipHidden}" #welcomeVipModal (click)="onToggleModal($event)"
    class="min-h-screen bg-black bg-opacity-30 z-40 fixed left-0 top-0 w-full h-full pt-[20%] md:pt-[7%] px-8">
    <div class="w-full md:w-[38.125rem] mx-auto bg-white rounded-2xl flex">
        <button class="w-3 h-3 mt-3 ml-3 hidden md:block">
            <img src="../../../assets/close-icon.png" alt="close icon" class="w-full" (click)="onClose()">
        </button>
        <div class="flex-[95%] px-2 md:px-5 md:pl-[44px] md:pr-14 pt-6 pb-10 md:pb-[73px]">
            <img src="../../../assets/logo-bif.png" alt="logo" class="w-10 md:w-26 mx-auto mb-5">
            <h1 class="text-base md:text-[50px] text-center font-semibold mb-2.5 md:mb-5">Welcome VIP</h1>
            <h2 class="text-xs md:text-2xl text-center mb-5 md:mb-14">
                Already have an account?
                <a href="#" class="text-btn-blue">Sign in</a>
            </h2>
            <div class="flex justify-center md:justify-evenly">
                <a href="#"
                    class="flex items-center rounded-15px border border-boder-color py-5px px-6 md:py-2 md:pr-2 md:pl-0">
                    <img src="../../../assets/google.png" alt="google" class="w-5 md:w-7.5 mr-1">
                    <span class="text-xs hidden md:block">Sign up with Google</span>
                </a>
                <a href=""
                    class="flex items-center rounded-15px border border-boder-color py-5px px-6 md:py-2 md:pr-2 md:pl-0 mx-2.5">
                    <img src="../../../assets/facebook-white.png" alt="twitter" class="w-5 md:w-7.5 mr-1">
                    <span class="text-xs hidden md:block">Sign up with Facebook</span>
                </a>
                <a href=""
                    class="flex items-center rounded-15px border border-boder-color py-5px px-6 md:py-2 md:pr-2 md:pl-0">
                    <img src="../../../assets/twitter-bg-white.png" alt="twitter" class="w-5 md:w-7.5 mr-1">
                    <span class="text-xs hidden md:block">Sign up with Twitter</span>
                </a>
            </div>
            <div class="flex items-center my-6 md:my-10">
                <div class="border-t-2 border-boder-color flex-[25%]"></div>
                <h1 class="text-sm md:text-2xl flex-[50%] leading-none text-center">Or sign up with email</h1>
                <div class="border-t-2 border-boder-color flex-[25%]"></div>
            </div>
            <form class="flex pl-2 md:pl-10 pr-2 md:pr-12 py-3 md:py-7 shadow-xl rounded-10px justify-between">
                <input type="email" class="text-xl w-1/2 mr-5 pl-2" placeholder="jimbo@email.from.VIP">
                <button class="bg-btn-blue text-xs md:text-sm font-semibold text-white px-1 md:px-4 py-6 rounded-10px">
                    Continue with email
                </button>
            </form>
        </div>
    </div>
</div>