<div class="pt-20 md:pt-40 xl:pt-48">
    <div
        class="rounded-15px h-[360px] lg:h-[510px] -bg-blog-header-pattern-md lg:-bg-blog-header-pattern bg-no-repeat bg-cover md:mx-15 lg:mx-20 xl:mx-[108px] pb-[59px] relative">
        <div class="absolute bottom-4 w-80 sm:w-96 md:w-[600px] lg:w-[700px]   right-4">
            <swiper [navigation]="true" [loop]="true">
                <ng-template swiperSlide
                    class="rounded-15px grid grid-cols-2 px-7.5 py-5 bg-[#606060] bg-opacity-50 justify-items-start"
                    *ngFor="let newBlog of newReleased">
                    <div class="" routerLink="{{newBlog.blogTitle}}">
                        <h1 class="text-xl text-white font-bold text-left">{{newBlog.blogTitle}}</h1>
                        <div class="flex items-center pl-4">
                            <img src="{{newBlog.blogAuthor[0].fields.authorImage.src}}" alt="author"
                                class="rounded-full w-8 h-9">
                            <p class="text-white font-extrabold ml-2">
                                {{newBlog.blogAuthor[0].fields.authorName}}</p>
                        </div>
                    </div>
                    <div class="ml-auto">
                        <p class="text-lg text-white hidden md:block">
                            {{newBlog.blogShortDescr}}
                        </p>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
    <div class="mx-5 md:mx-26 xl:mx-40 2xl:mx-48 mt-14 lg:grid grid-cols-2 gap-[137px] 2xl:gap-40">
        <div class="max-w-md 2xl:max-w-lg hidden lg:block">
            <h1 class="text-[42px] text-gray-900 mb-11.5 font-bold">
                Workout Activity Tips
            </h1>
            <img src="../../../assets/blog-img1.png" alt="img1" class="w-full 2xl:w-[512px] mb-8">
            <p class="text-gray-700">
                Find your best articles to level up your workout.
                There are many articles that discuss tips and tricks in implementing
                workouts, choose exercise and how to set the time.
                Some articles also discuss a healthier lifestyle.
            </p>
        </div>
        <div class="flex flex-col">
            <div class="border-b-2 border-solid border-boder-color pb-3 mb-4 md:pb-6 md:mb-8 w-full"
                *ngFor="let item of blogItems">
                <div class="flex mb-2">
                    <p class="text-sm xl:text-base 2xl:text-lg font-semibold text-gray-700">
                        {{item.blogCreateDate.slice(0,10)}}
                    </p>
                    <div class="bg-btn-blue text-white rounded ml-4 py-1 px-2" *ngIf="item.isNewBlogPost">
                        New Release
                    </div>
                </div>
                <div class="flex justify-between">
                    <div>
                        <a routerLink="{{item.blogTitle}}" class="text-2xl font-bold">
                            {{item.blogTitle}}
                        </a>
                        <p class="text-xl mb-2.5">{{item.blogShortDescr}}</p>
                        <div class="flex">
                            <img src="{{item.blogAuthor[0]?.fields?.authorImage.src}}" alt=""
                                class="w-9 h-9 mr-2 rounded-full">
                            <span
                                class="text-gray-900 text-sm xl:text-base 2xl:text-lg font-semibold">{{item.blogAuthor[0]?.fields.authorName}}</span>
                        </div>
                    </div>
                    <a routerLink="{{item.blogTitle}}">
                        <img src="../../../assets/Arrow-Right.png" alt="arrow right" class="w-6 2xl:w-8">
                    </a>
                </div>

            </div>
            <button (click)="loadMore()"
                class="w-max mb-5 text-center font-semibold px-2 py-1.5 leading-none border border-boder-color rounded-3xl">
                Load more
            </button>
        </div>
    </div>
</div>